.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  padding: 100px;
  min-width: 900px;
}

.teamCard {
  height: 100%;

}

.stateBar {
  width: 900px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}